---

---
<footer class="bg-[#ffffff] py-10 border-t mt-16">
  <div class="container mx-auto max-w-4xl text-center">
    <!-- Línea separadora -->
    <div class="mb-10 border-t border-[#000000] "></div>
    
    <!-- Texto del footer -->
    <p class="text-[#000000] text-lg font-medium">
      © Copyright 2024. Made by Pepe Pérez
    </p>
  </div>
</footer>

  