---

---
<div class="sticky top-0 z-50 flex justify-center items-center p-3 bg-[rgba(180,180,180,0.5)]">
  <div class="flex justify-between items-center w-full max-w-4xl">
    <nav class="flex">
      <a href="#estudios" class="text-[#000000] hover:underline mr-8">Estudios</a>
      <a href="#skills" class="text-[#000000] hover:underline mr-8">Skills</a>
      <a href="#experiencia" class="text-[#000000] hover:underline mr-8">Experiencia</a>
      <a href="#proyectos" class="text-[#000000] hover:underline mr-8">Proyectos</a>
      <a href="#referencias" class="text-[#000000] hover:underline mr-8">Referencias</a>
      <a href="#contacto" class="text-[#000000] hover:underline mr-8">Contacto</a>
    </nav>
    <div class="flex space-x-6">
      <a href="https://www.linkedin.com/in/jos%C3%A9-p%C3%A9rez-rico-1b490433b/" target="_blank" class="hover:opacity-75">
        <img src="../../img/logo linkelid.png" alt="LinkedIn" class="w-11 h-11">
      </a>
      <a href="https://github.com/pepepeerez" target="_blank" class="hover:opacity-75">
        <img src="../../img/logoGitHub.png" alt="GitHub" class="w-10 h-10">
      </a>
      <a href="https://www.instagram.com/pepepeerez_/" target="_blank" class="hover:opacity-75">
        <img src="../../img/logo instagram.webp" alt="Instagram" class="w-10 h-10">
      </a>
    </div>
  </div>
</div>

