---

---
<div class="min-h-screen flex flex-col items-center justify-start">
    <div class="max-w-3xl w-full rounded-lg mt-60">
        <div class="flex items-center mb-5 max-w-3xl">
        <img src="../../img/foto_pepe.png" alt="foto_Pepe" class="w-[190px] h-[190px] rounded-full shadow-lg mb-4 md:mb-0 md:mr-6">
        <div class="ml-3">
            <h1 class="text-6xl font-extrabold">
            <span class="text-5xl font-medium">Hey, soy</span>
            <span class="text-6xl font-bold">José Pérez</span>
        </div>
        </div>
        <p class="text-[#000000] text-[19px] max-w-3xl pt-10">
        20 años de edad. <span class="text-[#DB972B] font-semibold">Desarrollador web</span> 
        en formación, de Sevilla, España. <br>Actualmente curso el segundo año del ciclo superior de 
        desarrollo de aplicaciones web y estoy deseando aplicar mis conocimientos y habilidades en proyectos 
        reales que generen valor.
        </p>
    </div>
</div>